name: Show Build Information
on:
  workflow_dispatch:
    inputs:
      upload-artifact:
        description: 'Whether to upload build artifacts'
        required: true
        default: 'true'
      upload-tag:
        description: 'The tag name to use for the build'
        required: false
        default: ''
env:
  SCITER_RUST_VERSION: "1.75" # https://github.com/rustdesk/rustdesk/discussions/7503, also 1.78 has ABI change which causes our sciter version not working, https://blog.rust-lang.org/2024/03/30/i128-layout-update.html
  RUST_VERSION: "1.75" # sciter failed on m1 with 1.78 because of https://blog.rust-lang.org/2024/03/30/i128-layout-update.html
  MAC_RUST_VERSION: "1.81" # 1.81 is requred for macos, because of https://github.com/yury/cidre requires 1.81
  CARGO_NDK_VERSION: "3.1.2"
  SCITER_ARMV7_CMAKE_VERSION: "3.29.7"
  SCITER_NASM_DEBVERSION: "2.15.05-1"
  LLVM_VERSION: "15.0.6"
  FLUTTER_VERSION: "3.24.5"
  ANDROID_FLUTTER_VERSION: "3.24.5"
  FLUTTER_ELINUX_VERSION: "3.16.9"
  TAG_NAME: "${{ inputs.upload-tag }}"
  VCPKG_BINARY_SOURCES: "clear;x-gha,readwrite"
  VCPKG_COMMIT_ID: "120deac3062162151622ca4860575a33844ba10b"
  ARMV7_VCPKG_COMMIT_ID: "6f29f12e82a8293156836ad81cc9bf5af41fe836" # 2025.01.13, got "/opt/artifacts/vcpkg/vcpkg: No such file or directory" with latest version
  VERSION: "1.4.4"
  NDK_VERSION: "r27c"
  #signing keys env variable checks
  UPLOAD_ARTIFACT: "${{ inputs.upload-artifact }}"
#   SIGN_BASE_URL: "${{ secrets.SIGN_BASE_URL }}"
#   SIGN_SECRET_KEY: "${{ secrets.SIGN_SECRET_KEY }}"
#   ANDROID_SIGNING_KEY: "${{ secrets.ANDROID_SIGNING_KEY }}"
#   ANDROID_ALIAS : "${{ secrets.ANDROID_ALIAS }}"
#   ANDROID_KEY_PASSWORD : "${{ secrets.ANDROID_KEY_PASSWORD }}"
#   ANDROID_KEY_STORE_PASSWORD : "${{ secrets.MACOS_P12_BASE64 }}"
#   MACOS_CODESIGN_IDENTITY : "${{ secrets.MACOS_CODESIGN_IDENTITY }}"
#   MACOS_NOTARIZE_JSON : "${{ secrets.MACOS_NOTARIZE_JSON }}"
#   MACOS_P12_BASE64: "${{ secrets.MACOS_P12_BASE64 }}"
#   MACOS_P12_PASSWORD : "${{ secrets.MACOS_P12_BASE64 }}"
jobs:
  show-secret:
    runs-on: ubuntu-22.04
    environment: MACOS_P12_BASE64
    outputs:
      upload-artifact: ${{ inputs.upload-artifact }}
    steps:
      - name: Show build info
        run: |
          echo "UPLOAD_ARTIFACT=${{ inputs.upload-artifact }}"
          echo "TAG_NAME=${{ inputs.upload-tag }}"
          echo "VERSION=${{ env.VERSION }}"
          echo "FLUTTER_VERSION=${{ env.FLUTTER_VERSION }}"
          echo "SIGN_BASE_URL               is set: ${{ secrets.SIGN_BASE_URL }}"
          echo "SIGN_SECRET_KEY             is set: ${{ secrets.SIGN_SECRET_KEY }}"
          echo "ANDROID_ALIAS               is set: ${{ secrets.ANDROID_ALIAS }}"
          echo "ANDROID_KEY_PASSWORD        is set: ${{ secrets.ANDROID_KEY_PASSWORD }}"
          echo "ANDROID_KEY_STORE_PASSWORD  is set: ${{ secrets.MACOS_P12_BASE64 }}"
          echo "ANDROID_SIGNING_KEY         is set: ${{ secrets.ANDROID_SIGNING_KEY }}"
          echo "MACOS_CODESIGN_IDENTITY     is set: ${{ secrets.MACOS_CODESIGN_IDENTITY }}"
          echo "MACOS_NOTARIZE_JSON         is set: ${{ secrets.MACOS_NOTARIZE_JSON }}"
          echo "MACOS_P12_BASE64            is set: ${{ secrets.MACOS_P12_BASE64 }}"
          echo "MACOS_P12_PASSWORD          is set: ${{ secrets.MACOS_P12_BASE64 }}"
          echo "SIGN_BASE_URL               is set: ${{ env.SIGN_BASE_URL }}"
          echo "SIGN_SECRET_KEY             is set: ${{ env.SIGN_SECRET_KEY }}"
          echo "ANDROID_ALIAS               is set: ${{ env.ANDROID_ALIAS }}"
          echo "ANDROID_KEY_PASSWORD        is set: ${{ env.ANDROID_KEY_PASSWORD }}"
          echo "ANDROID_KEY_STORE_PASSWORD  is set: ${{ env.MACOS_P12_BASE64 }}"
          echo "ANDROID_SIGNING_KEY         is set: ${{ env.ANDROID_SIGNING_KEY }}"
          echo "MACOS_CODESIGN_IDENTITY     is set: ${{ env.MACOS_CODESIGN_IDENTITY }}"
          echo "MACOS_NOTARIZE_JSON         is set: ${{ env.MACOS_NOTARIZE_JSON }}"
          echo "MACOS_P12_BASE64            is set: ${{ env.MACOS_P12_BASE64 }}"
          echo "MACOS_P12_PASSWORD          is set: ${{ env.MACOS_P12_BASE64 }}"
    
